$text-color-light: #EEEEEE;
$text-color-dark: #212121;
@font-face {
    font-family: "open sans";
    src: url(../fonts/OpenSans-Regular.ttf);
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.grid {
    display: grid;
    grid-gap: 10px;
}
.contact {
    flex-direction: column;
    justify-content: space-around;
    background-color: $text-color-dark;
    border: 1px solid $text-color-light;
    width: 50px;
    height: 160px;
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    a {
        text-decoration: none;
        color: $text-color-light;
    }
}
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 3;
    .modal-content {
        box-sizing: border-box;
        border-radius: 7px;
        height: auto;
        background-color: #FFFFFF;
        overflow-y: hidden;
        .modal-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            width: 100%;
            height: 75px;
            background-color: #212121;
            color: #FFFFFF;
            padding: 5px 15px 5px;
            font-weight: bold;
            font-size: 1.2rem;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            .close {
                cursor: pointer;
            }        
        }
        .modal-body {
            box-sizing: inherit;
            overflow-y: scroll;
            padding: 5px 15px 5px;
            height: calc(100% - 75px);
            width: 100%;
            .modal-description {
                flex: 70%;
                padding: 0;
                text-align: justify;
                flex-direction: column;
                .contacts {
                    justify-content: space-around;
                }
            }
            .modal-image {
                flex: 30%;
                img {
                    width: 60%;
                    height: auto;
                }
            }
        }
    }
}
.modal-open {
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: "open sans";
    nav {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 80px;
        transition: background-color 0.1s linear;
        .logo {
            display: inline-block;
        }
        .nav-links {
            padding: 0;
            margin-left: auto;
            list-style-type: none;
            li {
                display: inline-block;
                font-size: 1rem;
                margin: 0 12px;
                a {
                    text-decoration: none;
                    color: $text-color-light;
                }
            }
        }
    }
    .carousel {
        position: relative;
        height: 100vh;
        min-height: 100vh;
        color: $text-color-light;
        .carousel-item {
            padding: 0;
            margin: 0;
            position: absolute;
            z-index: 0;
            opacity: 1;
            width: 100%;
            height: 100%;
            transition: opacity .5s ease-in;
            .image-banner {
                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                    height: auto;
                }
            }
            .short-banner {
                a.read-more {
                    display: block;
                    color: $text-color-light;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-weight: bold;
                    width: fit-content;
                    border: 1px solid $text-color-light;
                    border-radius: 5px;
                    padding: 10px 25px;
                }
            }
        }
    }
    .about {
        width: 100%;
        min-height: 100vh;
        color: $text-color-dark;
        .about-text {
            p {
                font-size: 1.05rem;
                font-weight: 500;
            }
        }
        .about-image {
            img {
                width: 100%;
                display: block;
                margin-left: auto;
            }
        }
    }
    .services {
        background-color: #cdcdcd;
        height: auto;
        min-height: 100vh;
        .service {
            height: 300px;
            background-color: $text-color-dark;
            border-radius: 7px;
            color: $text-color-light;
            font-size: 1.5rem;
            font-weight: bold;
            p {
                text-align: center;
                margin: auto;
            }
            &:nth-of-type(1) {
                background: -webkit-linear-gradient(135deg, #070D59, #1F3C88);
            }
            &:nth-of-type(2) {
                background: -webkit-linear-gradient(135deg,  #404B69, #00818A);
            }
            &:nth-of-type(3) {
                background: -webkit-linear-gradient(135deg, #113CFC, #1597E5);
            }
            &:nth-of-type(4) {
                background: -webkit-linear-gradient(135deg, #4E944F, #83BD75);
            }
        }
    }
    .footer {
        background-color: $text-color-dark;
        color: $text-color-light;
        width: 100%;
        height: auto;
        .footer-about {
            img {
                display: block;
                margin: auto;
                width: 60px;
                height: auto;
            }
            h3 {
                text-transform: uppercase;
            }
            h3, p {
                text-align: center;
            }
        }
        hr {
            width: 80%;
        }
        .footer-contacts {
            div {
                margin-bottom: 15px;
            }
            * {
                padding-left: 15px;
                a {
                    text-decoration: none;
                    color: $text-color-light;
                }
            } 
        }
    }
}
@media all and (min-width: 1200px){
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .modal-content {
        transform: translate(50%, 50%);
        width: 50%;
        .modal-body {
            flex-direction: row;
        }
    }
}
@media all and (min-width: 768px) and (max-width:1200px){
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .modal-content {
        transform: translate(25%, 30%);
        width: 70%;
    }
}
@media all and (max-width: 768px){
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .modal-content {
        transform: translate(15%, 10%);
        width: 80%;
        .modal-body {
            flex-direction: column;
        }
    }
}